<%byebug%>
<%= form_for :comment, url: @comment.present? ? comment_update_path : hii_path(@art), method: @comment.present? ? :put : :post do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>