<h1>heloo Asheesh!!!!</h1>
 

<%= form_for  @article, url: update_path(@article), local: true, method: :put do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit"update" %>
  </p>
<% end %>
