<strong>title</strong><br>
<%= @art.title %><br>
<strong>text</strong><br>
<%= @art.text %>


 <h2>Comments</h2>
 <% @art.comments.each do |comment| %>

<%= render 'my_comments/comment', comment: comment %>
<%end%>
 
<h2>Add a comment:</h2>
<%= render 'my_comments/form' %>



<%= link_to "index", articles_path %>