<strong>title</strong><br>
<%= @art.title %><br>
<strong>text</strong><br>
<%= @art.text %>

 <% byebug %>

 <h2>Comments</h2>
<% @art.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for :comment, url: hii_path(@art) do |f| %>
<%#= form_for([@art, @art.comments.build]) do |f| %>

  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<%= link_to "index", articles_path %>